# Build artifacts
target/
build/
.gradle/
bin/
out/
.mvn/
mvnw
mvnw.cmd
pom.xml

# IDEs
.idea/
*.iml
*.iws
*.ipr
.vscode/
.classpath
.project
.settings/
.factorypath

# OS
.DS_Store
Thumbs.db

# App Specific
src/main/resources/config.ini
src/main/resources/exportados/*.ini
logs/
*.log

# Release
release/
